{{ form_start(form) }}
<div class="row">
    <div class="col-md-8">
        {{ form_row(form.filtro) }}
    </div>
    <div class="col-md-4">
        <button type="submit" class="kt-margin-t-20 btn btn-primary btn-sm text-uppercase" data-placement="bottom" title="Filtre por los campos listados"><i class="fa fa-search"></i>Filtrar</button>
    </div>
</div>
{{ form_end(form) }}