{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Cookies</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Principio de transparencia
                        </h3>
                    </div>
                    <p>
                        En La Escuela es Nuestra, creemos que hay que ser claros y abiertos sobre el modo en que recabamos y utilizamos tus datos.
                        Para ofrecer un mayor nivel de transparencia, esta política proporciona información detallada sobre cómo y cuándo utilizamos cookies.
                    </p>
                    <p>
                        Esta Política de cookies se aplica a cualquier producto o servicio de La Escuela es Nuestra asociado a esta política o que la incorpore por referencia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            ¿Utiliza La Escuela es Nuestra cookies?
                        </h3>
                    </div>
                    <p>
                        Sí. Como se describe en la Política de privacidad, utilizamos cookies y otras tecnologías para garantizar que todos los usuarios
                        que usan La Escuela es Nuestra tengan la mejor experiencia posible.
                    </p>
                    <p>
                        Las cookies también nos ayudan a mantener la seguridad de las cuentas.
                        Cuando continúas visitando o utilizando nuestros servicios, estás aceptando el uso de cookies y de tecnologías similares
                        para los fines descritos en esta política.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            ¿Qué tipo de cookies utiliza La Escuela es Nuestra?
                        </h3>
                    </div>
                    <p>Utilizamos dos tipos: las cookies permanentes y las cookies de sesión:</p>
                    <ul>
                        <li>Una cookie permanente nos ayuda a reconocerte como usuario, de modo que te resultará más sencillo regresar o interactuar con nuestros servicios sin necesidad de volver a iniciar sesión.
                            <p>Una vez que hayas iniciado sesión, una cookie permanente permanecerá en tu navegador y La Escuela es Nuestra la leerá cuando regreses a alguno de nuestros sitios web.</p>
                        </li>
                        <li>Las cookies de sesión solo duran una sesión (normalmente la visita a un sitio web o una sesión del navegador).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}