{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Acerca de nosotros</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">

            <!--begin:: Widgets/Profit Share-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            ¿Quiénes somos?
                        </h3>
                    </div>
                    <p>
                        La Escuela Es Nuestra es desarrollado por un conjunto de estudiantes del Centro de Investigación y de
                        Estudios Avanzados(<a href="https://www.cinvestav.mx/" class="font-weight-bold">CINVESTAV</a>) como
                        estrategia dar seguimiento a los proyectos y condiciones de cada una nuestras escuelas en todo México.
                    </p>
                </div>
            </div>

            <!--end:: Widgets/Profit Share-->
        </div>
        <div class="col-xl-6">

            <!--begin:: Widgets/Profit Share-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            ¿Cuál es su licencia?
                        </h3>
                    </div>
                    <p>
                        Este sistema utliza la licencia MIT, por tal motivo su código fuente es libre y gratuito, sin ánimos de lucro.
                        Además cualquier persona que utilice este software en su empresa o centro de trabajo al igual que cualquier desarrollador que lo tome como base para la confección de otro software similar solo basta con que destaque en su nueva propuesta de quien tomó la idea original, etc.
                    </p>
                </div>
            </div>

            <!--end:: Widgets/Profit Share-->
        </div>
    </div>
{% endblock %}