{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Privacidad</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Tu privacidad es importante para nosotros
                        </h3>
                    </div>
                    <p>
                        El objetivo de Xitlali es permitir a las familias que poseen uno o más miembros desaparecidos
                        divulgar la noticia de forma tal que la población pueda apoyar la búsqueda a través de
                        notificaciones de avistamiento, contacto con la familia, etc.
                    </p>
                    <p>
                        Clave para esta misión es nuestro compromiso a ser transparentes contigo sobre los datos que recabamos sobre ti
                        y el modo en que se utilizan. Al utilizar nuestros Servicios, aceptas que usemos tus datos conforme
                        a lo establecido en esta Política de privacidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Cambios
                        </h3>
                    </div>
                    <p>
                        Podemos modificar esta Política de privacidad y si introducimos algún cambio importante te avisaremos
                        a través de nuestros Servicios, o por otros medios, para ofrecerte la oportunidad de revisar los cambios
                        antes de que se hagan efectivos.
                    </p>
                    <p>
                        Si no estás de acuerdo con cualquiera de los cambios, puedes cerrar tu cuenta.
                        Tu uso continuado de nuestros Servicios después de publicar o de enviar un aviso sobre los cambios
                        a esta Política de privacidad significará que estás de acuerdo con los términos actualizados.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}