{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Términos del servicio</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Contrato
                        </h3>
                    </div>
                    <div class="kt-widget14__content">
                        <p>La utilización de los servicios implica la aceptación expresa, plena y sin reservas,
                            de todas y cada una de las cláusulas de los Términos del servicio en la versión publicada en el momento
                            mismo en que el usuario utilice los servicios y demás información suministrada en el sitio. En caso de
                            no estar de acuerdo con los Términos del servicio deberá abstenerse de utilizar los servicios.
                        </p>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Daily Sales-->
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Profit Share-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Cambios
                        </h3>
                    </div>
                    <div class="kt-widget14__content">
                        <p>Podemos modificar este Contrato, nuestra Política de privacidad y nuestra Política de cookies de vez
                            en cuando. Si introducimos algún cambio importante en el Contrato te avisaremos a través de nuestros Servicios,
                            o por otros medios, para darte la oportunidad de revisar los cambios antes de que se hagan efectivos.
                        </p>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Profit Share-->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Avisos y mensajes sobre los Servicios
                        </h3>
                    </div>
                        <p>Aceptas que nos comuniquemos contigo de los siguientes modos:</p>
                        <ul>
                            <li>Un aviso en el Servicio</li>
                            <li>Un mensaje enviado a la información de contacto que nos proporcionaste (por ejemplo, correo electrónico, teléfono móvil, dirección postal)</li>
                            <li>Acuerdas mantener actualizada la información.</li>
                            <li>Revisa tu configuración para controlar y limitar los mensajes que te enviamos.</li>
                        </ul>
                </div>
            </div>

            <!--end:: Widgets/Daily Sales-->
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Profit Share-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Limitaciones
                        </h3>
                    </div>
                    <div class="kt-widget14__content">
                        <p>La Escuela es Nuestra se reserva el derecho a limitar tu uso de los Servicios, incluidos tu número de contactos y tu
                            capacidad para contactar con otros Miembros. La Escuela es Nuestra se reserva el derecho de restringir, suspender o
                            cerrar tu cuenta si considera que puedes haber incumplido este Contrato, la ley o que estás utilizando
                            incorrectamente los Servicios (por ejemplo, has infringido la lista de lo que se debe y no se debe hacer).
                        </p>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Profit Share-->
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Profit Share-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Derechos de propiedad intelectual
                        </h3>
                    </div>
                    <p>
                        La Escuela es Nuestra se reserva todos sus derechos de propiedad intelectual en los Servicios. La utilización de los
                        Servicios no te confiere la propiedad de los mismos ni del contenido o de la información que se muestra
                        a través de los mismos.
                    </p>
                    <p>
                        Las marcas y los logotipos utilizados en relación con los Servicios son las marcas comerciales de sus respectivos propietarios.
                    </p>
                </div>
            </div>
            <!--end:: Widgets/Profit Share-->
        </div>
    </div>
{% endblock %}