<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {{ title| default('Nueva condición docente educativa') }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            {{ include('condicion_docente_educativa/_form.html.twig') }}
        </div>
    </div>
</div>