{% extends 'layout/autenticado.html.twig' %}
{% block body %}
<div id="presentation">
    <img class="rounded-lg w-100" src="{{ asset('img/mapa.jpg','app') }}" alt="LEEN"/>
</div>
{% endblock body %}
