<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed " style="background-color: white;">
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
    </div>
</div>