<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
        <span class="kt-menu__link-text" style="color: white !important;">
             <i class="kt-menu__link-bullet flaticon-interface-7"></i>
            Administración</span>
    </a>
    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
        <ul class="kt-menu__subnav">
            <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('escuela_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Escuelas</span></a></li>
            <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('tipo_accion_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Tipos de acción</span></a></li>
            <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('tipo_comprobante_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Tipos de comprobante</span></a></li>
        </ul>
    </div>
</li>