<li class="kt-menu__item "><a href="{{ path('plantel_index') }}" class="kt-menu__link ">
        <span class="kt-menu__link-text" style="color: white !important;">
            <i class="kt-menu__link-bullet  flaticon-map"></i> Planteles
        </span>
    </a></li>
